.grid-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-columns: 200px 200px 200px;
  background-color: #2196F3;
  padding: 10px;
}
body {
  display: grid;
  justify-content: center;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 30px;
    text-align: center;
}